.main {
	min-height: 70vh;
    width: 95%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 0.8fr;
    align-items: top;
	background-color: rgba(244,244,244, 0.5);
    max-width: 1400px;
    color: rgba(0, 0, 0, 0.7);
}

.leftTitle {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
    /* background-color: teal; */
    margin-top: 30px;
    padding-left: 25px;
}
.leftTitle h1 {
    font-size: 3em;
}

.leftPic {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    min-height: 300px;
    width: 90%;
    border-radius: 5%;
}

.centerPicture {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    min-height: 300px;
    width: 90%;
    border-radius: 5%;
}

.rightPicture {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    width: 90%;
    border-radius: 5%;
}
.activePic {
    text-align: center;
}

.activePic img {
    height: 250px;
}

.bottomText {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 1;
    /* background-color: purple; */
    font-size:1.2em;
    text-align: center;
    margin: 40px 30px;
}

/*****************/
/*Mobile Styling */
/*****************/

@media all and (max-width: 790px) {
    .main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.6fr;
    }


    .leftTitle h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .activePic img {
        height: 100px;
    }
    .bottomText {
        margin-top: -160px;
    }
}
