.main {
	min-height: 70vh;
    width: 95%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr 0.1fr;
    align-items: top;
	background-color: rgba(244,244,244, 0.5);
    max-width: 1400px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.7);
}

.leftTitle {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
    /* background-color: teal; */
    margin-top: 25px;
	padding-left: 25px;
	margin-bottom: -15px;
}
.leftTitle h1 {
	font-size: 3em;
}
.leftDonateOne {
	text-align: center;
	margin: 0 auto;
	margin-bottom: -10px;
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 2;
	grid-row-end: span 1;
}
.leftTextBox {
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 3;
	grid-row-end: span 2;
    /* background-color: green; */
	margin: 10px 30px;
}
.leftDonateTwo {
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 5;
	grid-row-end: span 1;
	text-align: center;
	margin: 0 auto;
}
.rightPictureOne {
	grid-column-start: 3;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 2;
	height: 90%;
	border-radius: 10%;
	background-image: url("../images/doug2.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.rightPictureTwo {
	grid-column-start: 3;
	grid-column-end: span 1;
	grid-row-start: 4;
	grid-row-end: span 2;
	height: 90%;
	border-radius: 10%;
	background-image: url("../images/pumpkin.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/*****************/
/*Mobile Styling */
/*****************/

@media all and (max-width: 790px) {
    .leftTitle h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

	.rightPictureOne {
		background-image: none;
	}

	.rightPictureTwo {
		background-image: none;
	}

	.leftDonateOne {
		margin-top: 30px;
		grid-column-end: span 3;
	}
	.leftTextBox {
		grid-column-end: span 3;
	}
	.leftDonateTwo {
		grid-column-end: span 3;
	}
}