.main {
	min-height: 70vh;
    width: 95%;
	display: grid;
	grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 1.2fr;
    align-items: top;
	background-color: rgba(244,244,244, 0.5);
    max-width: 1400px;
    margin: 3.5rem auto;
    color: rgba(0, 0, 0, 0.7);
}

.leftTitle {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
    /* background-color: teal; */
    margin-top: 30px;
    padding-left: 25px;
}
.leftTitle h1 {
    font-size: 3em;
}
.rightTitle{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
    height: 80%;
    width: 90%;
    margin-top: 1%;
    text-align: right;  
    background-image: url("../images/Uchicago.gif");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}
.researchTitle {
    grid-column-start:3;
    grid-column-end: span 1;
    grid-row-start:2;
    grid-row-end: span 1;
    /* background-color: saddlebrown; */
    font-size: 24px;
    margin-left:5px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.researchBody {
    grid-column-start:3;
    grid-column-end: span 1;
    grid-row-start:3;
    grid-row-end: span 2;
    /* background-color: salmon; */
    margin-top: 20px;
}

.researchPaper {
    text-align: center;
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    
}

.researchPaper a {
    text-decoration: none;
    color: rgba(15, 144, 93, 1);
    text-align: center;
}
.leftTextBox {
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 2;
	grid-row-end: span 2;
    /* background-color: green; */
    padding: 30px;
}

.leftPicture {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
    background-image: url("../images/roosi.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.centerPicture {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
    background-image: url("../images/chicagoPaper.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.rightPicture {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
    background-image: url("../images/bracelet2.jpg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}