.main {
	min-height: 70vh;
    width: 95%;
	display: grid;
	grid-template-columns: 1fr 1fr 1.2fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 1.2fr;
    align-items: top;
	background-color: rgba(244,244,244, 0.5);
    max-width: 1400px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.7);
}

.leftTitle {
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 1;
	grid-row-end: span 1;
    /* background-color: teal; */
    margin-top: 30px;
    padding-left: 25px;
}
.leftTitle h1 {
    font-size: 3em;
}
.rightTitle{
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    height: 80%;
    width: 90%;
    margin-top: 1%;
    text-align: right;  
    /* background-image: url("../images/Uchicago.gif"); */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}
.researchTitle {
    grid-column-start:3;
    grid-column-end: span 1;
    grid-row-start:2;
    grid-row-end: span 1;
    /* background-color: saddlebrown; */
    font-size: 24px;
    margin-left:5px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.researchBody {
    grid-column-start:3;
    grid-column-end: span 1;
    grid-row-start:3;
    grid-row-end: span 2;
    /* background-color: salmon; */
    margin-top: 20px;
    line-height: 1.4;
}

.researchPaper {
    text-align: center;
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    
}

.researchPaper a {
    text-decoration: none;
    color: rgba(15, 144, 93, 1);
    text-align: center;
}
.leftTextBox {
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 2;
	grid-row-end: span 2;
    /* background-color: green; */
    padding: 30px;
}

.leftPicture {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
}

.centerPicture {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
}

.rightPicture {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
}
.rightTitle img {
    margin-top: 30px;
}
.bottomPicture {
    margin: 0 auto;
}
/*****************/
/*Mobile Styling */
/*****************/

@media all and (max-width: 790px) {
    .leftTitle h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .leftTextBox {
        padding-top: 0px;
        font-size: 14px;
    }

    .rightTitle{
        height: 80%;
        line-break: 100%;
        margin-top: 1%;
    }

    .rightTitleLogo {
        margin-top:40px;
        object-fit: scale-down;
    }
    .bottomPicture img {
        height: 150px;
        width: 150px;
    }
    

    .researchTitle {
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;
        /* margin-top: 20px; */
    }
    .researchPaper {
        font-size: 10px;
    }
    .researchBody {
        justify-content: center;
        margin-top: -20px;
      
    }
    .main {
        grid-template-rows: 0.1fr 0.1fr 1fr 0.2fr;
    }
}