.test {
	color: red;
}

/* The CSS Grid Layout*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 2fr 2fr 1fr;
  min-height: 130vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

/*****************/
/*Header Styling */
/*****************/


.headerLogo {
	max-height: 3rem;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(30,30,30,0.1);
	height: 3rem;
	line-height: 3rem;
}

.header a {
	text-decoration: none !important;
	margin: 0px 0.25rem;
	display: inline-block;
	color: rgba(245,245,245, 1);
}

/**********************/

/*****************/
/* Footer Styling*/
/*****************/

.footer {
	grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: span row2-end;
  background-color: purple;
  max-width: 1400px;
  margin: 0 auto;
  color: rgb(230,230,230);
  background-color: rgba(15,190,124, 0.9);
	min-height:	100px;
}

.footer div {
	margin: 0 auto;
	text-align: center;
}

.footer table {
	margin: 0 auto;
	table-layout: fixed;
}

.footer th {
	text-align: center;
}

/*****************/

.banner {
	background-color: red;
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: span 2;

	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url('../images/jersey.jpeg');
  background-position: center;
  background-repeat: none;
  background-size: cover;

}

.greenButton {
	background-color: rgba(15,190,124,1);
	border: 1px solid rgba(245,245,245, 0.5);
	border-radius: 5px;
	color: white;
	padding: 0.5rem;
	margin-top: 10px;
}

.bannerText {
	font-weight: bold;
}

.bannerTextContainer {
	background-color: rgba(30,30,30,0.7);
	border: 1px solid rgba(30,30,30, 0.8);
	padding: 1rem;
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
	color: rgba(245,245,245,1);
	font-size: 1.4rem;
	text-align: center;
	align-self: center;
	justify-self: center;

}

.mission {
	background-color: green;
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 3;
	grid-row-end: span 1;
}

.main {

}

.body {
	grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: span row4-end;
  background-color: blue;

}


