.test {
	color: red;
}

/* The CSS Grid Layout*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 2fr 2fr 1fr;
  min-height: 130vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.headerLogo {
	max-height: 2.5rem;
}

.banner {
	background-color: red;
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: span 2;

	display: grid;
  grid-template-columns: 5% 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /*background-image: url('../images/s4dLogo.png');*/

}

.bannerText {
	background-color: purple;
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
}

.mission {
	background-color: green;
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 3;
	grid-row-end: span 1;
}

.main {

}

/*.main {
	grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: span row1-end;
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10px 2rem 1fr 1fr 1fr;
  height: 300vh;
}*/
/*
.header {
	margin: 0 auto;
	grid-column-start: 1;
	grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: span row2-end;
  background-color: white;
  text-align: center;
  vertical-align: center;
  line-height: 40px;
  border-bottom: 1px solid grey;
}*/

.header {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(30,30,30,0.1);
	height: 2.5rem;
	line-height: 2.5rem;
}

.header a {
	text-decoration: none !important;
	margin: 0px 0.25rem;
	display: inline-block;
	color: rgba(245,245,245, 1);
}

.body {
	grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: span row4-end;
  background-color: blue;

}

/*.bodyPrimary {
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: span row2-end;
	background-color: teal;
}

.bodySecondary {
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 3;
	grid-row-end: span row3-end;
	background-color: orange;
}*/

.footer {
	grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: span row2-end;
  background-color: purple;
}
/*.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
*/
