@import url('https://fonts.googleapis.com/css?family=Lora');

/* The CSS Grid Layout*/
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 2fr 2fr 1fr;
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

/*****************/
/*Header Styling */
/*****************/


.headerLogo {
	max-height: 3rem;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(250,250, 250,0.7);
	border-bottom: 1px solid rgba(30,30,30,0.1);
	height: 3rem;
	line-height: 3rem;
}

.header a {
	text-decoration: none !important;
	margin: 0px 0.25rem;
	display: inline-block;
	color: rgba(0,0,0, 1);
}

/**********************/

/*****************/
/* Footer Styling*/
/*****************/

.footer {
	grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: span row2-end;
  background-color: purple;
  max-width: 1400px;
  margin: 0 auto;
  background-color: rgba(244,244,244, 0.5);
  color: rgba(15,144,93, 1);
	min-height:	100px;
}

.footer div {
	margin: 0 auto;
	text-align: center;
}

.footer table {
	margin: 0 auto;
	table-layout: fixed;
}

.footer th {
	text-align: center;
}

/*****************/

.banner {
	/*background-color: red;*/
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 1;
	grid-row-end: span 2;
	margin-top: 3rem;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url('../images/jersey.jpeg');
  background-position: center;
  background-repeat: none;
  background-size: cover;

}

.greenButton {
	background-color: rgba(15,190,124,1);
	border: 1px solid rgba(245,245,245, 0.9);
	border-radius: 5px;
	color: white;
	padding: 0.7rem;
	margin-top: 10px;
	cursor: pointer;
	font-size: 22px;
}

.bannerText {
	/*font-weight: bold;*/
	font-family: 'Lora', serif;
}

.bannerTextContainer {
	/* background-color: rgba(30,30,30,0.7); */
	/* border: 1px solid rgba(30,30,30, 0.8); */
	padding: 1rem;
	grid-column-start: 2;
	grid-column-end: span 1;
	grid-row-start: 2;
	grid-row-end: span 1;
	color: rgba(245,245,245,1);
	font-size: 1.4rem;
	text-align: center;
	align-self: center;
	justify-self: center;

}

.mission {
	background-color: rgba(244,244,244, 0.5);
	grid-column-start: 1;
	grid-column-end: end;
	grid-row-start: 3;
	grid-row-end: span 1;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;

}

.missionText {
	grid-column-start: 1;
	grid-column-end: span 1;
	grid-row-start: 1;
	grid-row-end: span 1;
	align-self: center;
	justify-self: center;
	/*background-color: blue;*/
	font-size: 1.8rem;
	line-height: 2.2rem;
	padding: 20px;
	font-family: 'Lora', serif;
}

.body {
	grid-column-start: 1;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: span row4-end;
  background-color: blue;

}


